/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */

html {
  font-size: 16px;
}

body {
  font-size: 1em;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #453E4F;
  background-color: white;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #453E4F;
}

h1, h2, h3 {
  font-family: 'Alike';
  color: #453E4F;
}

img {
  width: 100%;
}

figure a {
  margin: 0;
  display: block;
}

address {
  font-style: normal;
}

.content-wrapper {
  width: 90%;
}

/* ------ Base Header - Footer ------ */

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

header {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e8eff7;
}

header .content-wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

header nav {
  width: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding-left: 0;
}

header nav ul li {
  font-weight: bold;
  padding-top: 10px;
}

.contact-button {
  background-color: #F8D697;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
}


.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  align-content: center;
}


header h1 {
  padding-bottom: 30px;
  padding-top: 60px;
}

header h2 {
  padding-bottom: 30px;
  line-height: 1.5;
  text-align: center;
}

footer {
  text-align: center;
  flex-direction: column;
  background-color: #e8eff7;
  margin-top: 60px
}

footer h2 {
  padding-top: 50px;
}

footer h3 {
  padding-top: 50px;
  padding-bottom: 20px;
}

footer .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.0em;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #453E4F;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  font-size: 1em;
}

footer .copyright {
  padding: 50px;
}

/* ------ Mobile Styles ------- */

/* Projects */

#projects { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.project-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.project-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.project-piece {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
} 


#projects h2 { 
  padding-top: 80px;
  padding-bottom: 20px;
  font-size: 2em;
}

#projects h3 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1.2em;
}

#projects img {
  object-fit: contain;
}

.project-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
}

.project-description {
  padding-bottom: 30px;
}

div .live-page {
  background-color: #453E4F;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;
  color: white;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
  text-align: center;
  width: 70%;
}

/* Skills */

#skills { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background-color: #e8eff7;
  padding-bottom: 80px;
}

.skills-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.skill-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

#skills h2 {
  padding-top: 60px;
  font-size: 2em;
}

#skills h3 {
  padding-top: 0;
  font-size: 1.2em;
}

#skills h4 {
  text-transform: uppercase;
  background-color: #F8D697;
  text-align: center;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  line-height: 1.5;
  font-weight: 200;
}

/* about */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.about-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.about-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

#about img {
  margin-top: 160px;
  max-height: 500px;
  max-width: 400px;
}

#about h2 {
  padding-top: 10px;
  font-size: 1.7em;
}

#about h3 {
  padding-top: 10px;
  line-height: 1.5;
  font-weight: 400;
}

#about p {
  padding-top: 10px;
}

.about-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
}

.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

/* contact */

#contact h2 {
  font-size: 1.7em;
}

#contact h3 {
  font-size: 1.5em;
}

#contact p {
  padding-bottom: 0;
}

.copyright {
  padding-top: 0;
  margin-top: 0;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Tablet styles */

  .content-wrapper {
    width: 80%;
  }

  header nav {
    width: 90%;
  }

  .introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }

  header h1 {
    padding-bottom: 40px;
    padding-top: 80px;
    font-size: 2.5em;
  }

  header h2 {
    width: 70%;
    padding-bottom: 40px;
  }

  #projects h2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .project-flexbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
  }

  .project-piece {
    width: 45%;
  }

  #projects figure {
    width: 90%;
  }

  #projects img {
    /*
    width: 300px; 
    height: 200px;
    */
  }

  #projects h3 {
    padding-bottom: 20px;
  }

  .live-page {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  #skills {
    padding-bottom: 80px;
  }

  .skills-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }

  .skills-flexbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
  }

  .skills-items {
    width: 45%;
  }  

  #skills h3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #about {
    padding: 0;
  }

  #about img {
    margin-top: 120px;
  }

  #about h2 {
    padding-bottom: 0;
    padding-top: 80px;
    font-size: 2em;
  }

  #about h3 {
    padding-bottom: 20px;
    font-size: 1.3em;
  }

  #about p {
    padding: 0;
  }

  footer {
    margin-top: 40px;
    padding-bottom: 0;
  }

  #contact h2 {
    padding-bottom: 40px;
    padding-top: 120px;
    font-size: 2em;
  }

  footer .footer-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  footer .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .copyright {
    padding-top: 60px;
  }
}

@media only screen and (min-width: 1200px) {
  /* Desktop styles */

  .content-wrapper {
    max-width: 1200px;
  }

  header .content-wrapper {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column wrap;
    flex-direction: row;
    flex-wrap: wrap;
  }

  header nav {
    width: 100%;
    width: 45%;
    text-transform: uppercase;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    flex-flow: row wrap;
    margin-top: 30px;
  }
  
  header nav ul {
    width: 100%;
    display: flex;
    justify-content: right;
    margin: 0;
  }

  header nav ul li {
    margin-left: 20px;
  }

  header h1 {
    font-size: 3.7em;
    padding-top: 30px;
    padding-bottom: 0;
  }

  header h2 {
    font-size: 2em;
    padding-top: 0;
    padding-bottom: 80px;
    width: 70%;
  }

  #projects h2 {
    font-size: 2.5em;
  }

  .project-piece {
    width: 30%;
  }

  #projects figure {
    width: 100%;
  }

  .live-page {
    margin-bottom: 60px;
  }

  #skills h2 {
    font-size: 2.5em;
    margin-top: 60px;
  }

  .skills-items {
    width: 30%;
  } 

  .about-flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }
  
  .about-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }

  .about-description {
    width: 60%;
  }

  .about-picture {
    width: 40%;
  }

  .about-title {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-flow: row wrap;
  }

  #about img {
   /*
    width: 300px; 
    height: 400px;
  */
    padding-top: 0;
    padding-bottom: 80px;
  }

  #about h2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  #about h3 {
    font-size: 1.5em;
    padding-top: 0;
    line-height: 1.5;
    font-weight: 400;
  }

  #about p {
    font-size: 1.2em;
  }

  footer .content-wrapper {
    width: 70%;
  }

  #contact h2 {
    font-size: 2.5em;
  }

  footer p {
    font-size: 1.2em;
  }

  footer .social-icons {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .copyright {
    margin-top: 0;
    padding-top: 0;
  }

}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

